html {
  background-color: black;
}
/* Header Section */
header {
  display: flex;
  text-align: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 69px;
  font-family: Helvetica;
  font-size: 22px;
  background-color: black;
  border-bottom: 1px solid seashell;
}

a {
  color: seashell;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

header img {
  height: 50px;
  padding-left: 10px;
}

/* Content Container */
.main-content {
  text-align: center;
  border: 1px solid black;
  background-color: black;
  color: seashell;
}

.first-column .image-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  width: 1200px;
  height: 700px;
  margin: 0 auto;
}

.first-column .main-content {
  width: 1200px;
}

.second-column .image-content img {
  height: 200px;
  weight: 300px;
}

.second-column .image-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
 .second-column {
  width: 1000px;
  margin: 0 auto;
/*  border: 1px solid white; */
}

.menu h4 {
  margin-top: 10px;
}

.third-column .main-content {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  height: 500px;
  width: 1200px;
  margin: 0 auto;
}

.third-column .address {
  background-color: black;
  color: seashell;
  border: 1px solid white;
  width: 300px;
  opacity: 1;
  text-align: center;
}

.third-column .locations {
  display: flex;
  justify-content: space-around;
}

/* Footer Section */
p.copyright {
  text-align: left;
  margin-left: 20px;
}

footer .main-content {
  height: 200px;
}
